In [ ]:
df = spark.read.table("samples.nyctaxi.trips")